body {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: #f7f7fa;
    padding-left: 40px;
}

#loginForm, #signupForm {
    top: 20%;
    left: 45%;
    position: absolute;
}

#userInfo {
    left: 95%;
    position: absolute;
}

#canvas {
    top: 25%;
    left: 40%;
    position: absolute;
}